<div class="container well" style="width:50%;">
	<h3>Credit form</h3>
	<hr>
	
		<%= form_for @credit do |f| %>
		<div class="span3">
			<%= f.text_field :name, placeholder: 'Name' %>
			<%= f.text_field :last_name, placeholder: 'Last name' %>
			<%= f.text_field :personal_id, placeholder: 'Personal ID' %>
			<%= f.text_field :email, placeholder: 'email' %>
			<%= f.text_field :phone, placeholder: 'Phone' %>
		</div>

		<div class="span3">
			<%= f.text_field :credit_sum, placeholder:'credit sum',style: 'width:100px' %>
			<br>
			<%= f.select(:credit_period, options_for_select([['6 months',6],['1 year',12],['2 years',24],['3 years',36],['4 years',48],['5 years',60]], :selected => params[:credit_period]), {}, :style => "width:115px;")%>
			<%= f.text_field :credit_start_date, style: 'display:none', value: DateTime.current %>
			<%= label_tag :intress %>
			<%= text_field_tag(:intress, '25%', style:'width:30px', disabled:'disabled') %>
			<br>
			<a href="#" onClick="return false" class="btn" id="payment_count">Count</a>
			<br>
			<br>
			<%= text_field_tag(:month_sum, 'Monthly sum',style:'width:100px;text-align:right', disabled:'disabled')%>
			<br>
			<%= text_field_tag(:intress_sum, 'Intress sum',style:'width:100px;text-align:right', disabled:'disabled')%>
			<br>
			<br>
			<a href="#" onClick="return false" class="btn"  id="payment_graphic">See graphic</a>
			<br>
		</div>

		<div class="span9">
			<br>
			<table class="table table-bordered hide" id="payments_table">
				<thead>
					<tr>
						<th> Date </th>
						<th> Balance </th>
						<th> Principal repayment </th>
						<th> Interest payment </th>
						<th> Total </th>
					</tr>
				</thead>
				<tbody id="payments_tbody">
					
				</tbody>
			</table>
			<%= f.submit "Send form", class: 'btn btn-success'%>
		</div>
			
		<% end %>	
</div>

<script>
	$(document).ready(function(){
		
		$('#credit_credit_sum').blur(function(){
			
			var credit_sum  = $('#credit_credit_sum').val();

			if (credit_sum > 10000){
				
				alert('Credit sum cant be more than 10 000')

			}else if(credit_sum < 600){
				
				alert('Credit sum cant be less than 600')
			}
		});
	})
	$('#payment_graphic').on('click',function(){

		var credit_sum = $('#credit_credit_sum').val();
		var credit_date = $('#credit_credit_start_date').val();
		var credit_period = $('#credit_credit_period').val();
		var credit_intress = 0.25;

			if (credit_sum != "" && credit_sum > 0){
				
				$('#payments_tbody').empty()
				
				$.ajax({
					type:'POST',
					url:'<%= graphic_rendering_path %>',
					data:{ credit_sum: credit_sum, credit_date: credit_date, credit_period: credit_period, credit_intress: credit_intress},
					success:function(data){

						$("#graphic_template").tmpl(data).appendTo('#payments_tbody')
						$("#payments_table").show()
					}
				})
					
			}else{
				alert('Credit sum can`t be empty')
			}
			

	})
	$('#payment_count').on('click',function(){
		
		var credit_sum = $('#credit_credit_sum').val();
		var credit_date = $('#credit_credit_start_date').val();
		var credit_period = $('#credit_credit_period').val();
		var credit_intress = 0.25
		
				
		if( credit_sum > 0 && credit_sum != "" ){	
			// Monthly Paympent sum
			var rank = Math.pow(( 1 + credit_intress / credit_period),credit_period);
			var monthly_payment = credit_sum*(credit_intress/credit_period)/(1-(1/rank));
			$('#month_sum').val(monthly_payment.toFixed(2))
			
			// Intress from all sum
			var raw_intress_sum = monthly_payment * credit_period - credit_sum
			var years = credit_period / 12
			var intress_sum = raw_intress_sum * years

			$('#intress_sum').val(intress_sum.toFixed(2))	
		}else{
			alert('Credit sum can`t be empty')
		}

		// var intress_percent = credit_intress / credit_period
		// var a = Math.pow((1 + intress_percent), credit_period )
		// var b = a - 1
		// raw_monthly_payment = credit_sum * ( intress_percent + (intress_percent / b) )
		// monthly_payment = raw_monthly_payment.toFixed(2)
		// $('#month_sum').val(monthly_payment)

		// 
		// var raw_intress_sum = (raw_monthly_payment * credit_period) - credit_sum
		// var credit_years = credit_period / 12
		// var intress_sum = raw_intress_sum * credit_years
		// $('#intress_sum').val(intress_sum.toFixed(2))

		// console.log(raw_intress_sum)
	})
	
</script>
<script type="text/x-jquery-tmpl" id="graphic_template">
	<tr>
		<td>${payment_date}</td>
		<td>${payment_balance}</td>
		<td>${princial_repayment}</td>
		<td>${intress_payment}</td>
		<td>${monthly_paymnet_total}</td>
	</tr>
</script>